<!DOCTYPE html>
<html ng-app="caculatorApp">
<head>
<meta charset="ISO-8859-1">
<title>Calculator</title>
<script src="../js/angular.js"></script>
<script src="../js/calculator.js"></script>
</head>
<body> 
	<h1>Calculator</h1>
    <div ng-controller="calCtrl as cal">
      <input type="text" ng-model="cal.a"/>
      <span ng-bind="cal.selectedOperation"></span>
      <input type="text" ng-model="cal.b"/>
      <button ng-click=cal.calculate()>=</button>
      <span ng-bind="cal.result"></span>
      <p>
        <button ng-click="cal.buttonClicked('+')">+</button>
        <button ng-click="cal.buttonClicked('-')">-</button>
        <button ng-click="cal.buttonClicked('*')">*</button>
        <button ng-click="cal.buttonClicked('/')">/</button>
      </p>
    </div>



</body>
</html>